.previous-btn,
.next-btn {
    color: map-get($colors, primary);
}

// Products & Servies Section Start
.learn-more-btn {
    background: map-get($colors, primary);
    color: map-get($colors, secondary);
    width: 60%;
    height: 15%;
    padding-top: 3px;
}

.previous-btn,
.next-btn {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    position: absolute;
    top: 38%;
}

.next-btn {
    right: 10%;
}

.previous-btn {
    left: 10%;
}

.slide-left {
    transform: translateX(-100%);
}

.slide-right {
    transform: translateX(0%);
}