#title {

    // Navbar Start
    @import './navbar';
    //NavBar End
    
    height: 40%;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
    
    .intro-header {
        font-size: map-get($fonts, header-sm);
        top: 48%;
        position: absolute;
        right: 5%;
        z-index: 2;
    }

    .bg-video {
        border-bottom-left-radius: 65%;
        clip-path: circle(92% at 70% 0%);
        position: absolute;
        top: 15%;
        z-index: 1;
    }


    .navbar-scroll-up,
    .navbar-scroll-down {
        transform: translateY(-500px);
    }

    .navbar-scroll-up {
        background-color: black;
        position: fixed;
        z-index: 2;
    }

    @include respond(iphone5) {
        height: 50%;

    }

    @include respond(galaxyS10) {
        height: 40%;
        
        .bg-video {
            top: 13%;
        }
    }

    @include respond(iphone11) {
        height: 40%;
        
        .bg-video {
            top: 8%;
        }

        .intro-header {
            top: 55%;
        }
    }


    @include respond(mobile_l) {
        height: 35%;
    }

    @include respond(tablet) {
        height: 57%;

        .bg-video {
            top: 7%;
        }
    }

    @include respond(laptop) {
        height: 100%;
        
        
        .bg-video {
            top: 5%;
        }

        .intro-header {
            font-size: 2rem;
        }
    }

    @include respond(laptop_l) {
        height: 107%;
    }

    @include respond(laptop_xl) {
        height: 122%;

        .bg-video {
            top: 5%;
        }
    }

}