// Variables start
$colors: (primary: #F3C623,
    secondary: #000,
    bg-color: #fff,
    dropdown-color:#393738,
    notification: red);

$fonts: (
    font-a-laptop: 1.1rem,
    notification: .8rem,
    header-sm: .88rem,
    social-sm: .85rem,
    social-mb-md: .9rem,
    headers-mb-lg: 1.4rem
);


//iphone widths
$iphone5: 320px;
$galaxyS10: 360px;
$iphone11: 414px;
$galaxyFold2:884px;

$laptop-width: 1024px;
$laptop-l-width: 1440px;
$laptop-xl-width: 1650px;
$tablet-width: 728px;

// Variables end 


// mixins start

@mixin respond($breakpoint) {

    @if $breakpoint==iphone5 {
        @media (min-width: #{$iphone5}) {
            @content;
        }

    }
    
    @if $breakpoint==galaxyS10 {
        @media (min-width: #{$galaxyS10}) {
            @content;
        }

    }
    @if $breakpoint==iphone11 {
        @media (min-width: #{$iphone11}) {
            @content;
        }
    
    }
    @if $breakpoint==galaxyFold2 {
        @media (min-width: #{$galaxyFold2}) {
            @content;
        }
    
    }

    @if $breakpoint==tablet {
        @media (min-width: #{$tablet-width}) {
            @content;
        }

    }

    @if $breakpoint==laptop {
        @media (min-width: #{$laptop-width}) {
            @content;
        }
    }

    @if $breakpoint==laptop_l {
        @media (min-width: #{$laptop-l-width}) {
            @content;
        }
    }

    @if $breakpoint==laptop_xl {
        @media (min-width: #{$laptop-xl-width}) {
            @content;
        }
    }

}

// mixins end

html {
    scroll-behavior: smooth;
}


body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;

    section {
        overflow: hidden;
        position: relative;
    }

    .scrollToTop {
        background-color: black;
        bottom: 49px;
        border-radius: 50%;
        color: #c4a01c;
        cursor: pointer;
        font-size: 1rem;
        padding: 10px;
        position: fixed;
        right: 14px;
        transform: translateX(180%);
        z-index: 2;
    }
    
    .ScrollToTopShow {
        transform: translateX(0%);
    }
    
    
    
}

// Title Section Start
@import './title';
// Title Section End

@import './buttons';

// Animation
.scrollToTop,
.ScrollToTopShow {
    transition: ease-out .5s transform;
}


// Similar font sizes
.section-header-1,
.section-header-2 {
    font-size: map-get($fonts, header-sm);
}

.intro-header,
.icons,
.service-title,
.learn-more-btn {
    font-size: .9rem;
}

.message-ceo,
.service-description {
    font-size: .8rem;
}

// Similar font sizes end


// width 100% 
.slide-container,
.info-slide,
.info-container,
.bg-video,
section {
    width: 100%;
}

// Width 100% End


// Same color start
.section-header-2 {
    color: map-get($colors, primary);
}

.intro-header,
.info-container,
.icons {
    color: white;
}

// End same color


// Alignment Start
#footer,
.info-slide,
.services-mobile {
    text-align: center;
}

// Alignment End



// Section Start
#contact-us,
#footer {
    background-color: map-get($colors, primary);
    padding-bottom: 0;
}


// Section End


// Containers Start

.services-mobile {
    padding-top: 5%;
}

// Containers End

// Common Header Features

.section-header-1,
.section-header-2 {
    font-weight: 900;
    letter-spacing: 2px;
    padding: 5% 0px 6% 3%;
    margin: 0;
}

.section-header-1 {
    color: black;
}

.service-title {
    padding-top: 5%;
    font-weight: 600;
}





// Products & Servies Section Start

#products-and-services {
    padding-bottom: 10%;
}

.icons {
    padding: 5%;
    border-radius: 50%;
    border: map-get($colors, primary) 1px solid;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);


}

// Products & Servies Section End

//Team-Section Start

#team {

    background-color: #000;
    border-top-right-radius: 35%;
    padding-bottom: 7%;

    .info-slide {
        display: flex;
    }

    .team-title {
        padding-bottom: 10%;
    }


}

.info-slide {

    padding-top: 2%;

    .info-container {
        flex-shrink: 0;
        transition: transform ease-out 1s;

        .icons {
            background-color: white;
            box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15);
        }
    }
}



// Team Section End

//Contact Us Section Start

#contact-us {

    .social {
        align-items: center;
        display: flex;
        padding: 0 0 15% 5%;
    }
}

.socials-link {
    color: map-get($colors, secondary);
    transition: ease-in 1s;
    @include respond(iphone5) {
        font-size: map-get($fonts, social-sm);
    }
    @include respond(iphone11) {
        font-size: map-get($fonts, social-mb-md);
    }
}

.site:hover {
    color: #0000008c;
    cursor: pointer;
    text-decoration: none;
}


.social-username {
    margin-left: 8px;
}

.message-ceo {
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ceo-signature {
    font-family: 'Cookie', cursive;
    font-size: 20px;
    font-weight: 100;
}

//Contact Us Section End

//Footer Start
#footer {
    .copy-right {
        font-size: .7rem;
        margin-bottom: 0;
        padding: 1%;
    }
}

// Footer End 


