html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body section {
  overflow: hidden;
  position: relative;
}

body .scrollToTop {
  background-color: black;
  bottom: 49px;
  border-radius: 50%;
  color: #c4a01c;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  position: fixed;
  right: 14px;
  -webkit-transform: translateX(180%);
          transform: translateX(180%);
  z-index: 2;
}

body .ScrollToTopShow {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.previous-btn,
.next-btn {
  color: #F3C623;
}

.learn-more-btn {
  background: #F3C623;
  color: #000;
  width: 60%;
  height: 15%;
  padding-top: 3px;
}

.previous-btn,
.next-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 38%;
}

.next-btn {
  right: 10%;
}

.previous-btn {
  left: 10%;
}

.slide-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-right {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.scrollToTop,
.ScrollToTopShow {
  -webkit-transition: ease-out .5s transform;
  transition: ease-out .5s transform;
}

.slide-container,
.info-slide,
.info-container,
.bg-video,
section {
  width: 100%;
}

.section-header-2 {
  color: #F3C623;
}

.intro-header,
.info-container,
.icons {
  color: white;
}

#footer,
.info-slide,
.services-mobile {
  text-align: center;
}

#contact-us,
#footer {
  background-color: #F3C623;
  padding-bottom: 0;
}

.services-mobile {
  padding-top: 5%;
}

.section-header-1,
.section-header-2 {
  padding: 5% 0px 6% 3%;
  margin: 0;
}

.section-header-1 {
  color: black;
}

.service-title {
  padding-top: 5%;
}

#products-and-services {
  padding-bottom: 10%;
}

.icons {
  padding: 5%;
  border-radius: 50%;
  border: #F3C623 1px solid;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}

#team {
  background-color: #000;
  border-top-right-radius: 35%;
  padding-bottom: 7%;
}

#team .info-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#team .team-title {
  padding-bottom: 10%;
}

.info-slide {
  padding-top: 2%;
}

.info-slide .info-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform ease-out 1s;
  transition: -webkit-transform ease-out 1s;
  transition: transform ease-out 1s;
  transition: transform ease-out 1s, -webkit-transform ease-out 1s;
}

.info-slide .info-container .icons {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15);
}

#contact-us .social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15% 5%;
}

.socials-link {
  color: #000;
  -webkit-transition: ease-in 1s;
  transition: ease-in 1s;
}

.site:hover {
  color: #0000008c;
  cursor: pointer;
  text-decoration: none;
}

.social-username {
  margin-left: 8px;
}

.message-ceo {
  margin-top: 0;
  margin-bottom: 1rem;
}

#footer .copy-right {
  margin-bottom: 0;
  padding: 1%;
}

body {
  font-family: "Montserrat";
}

.intro-header, .navbar-brand {
  font-size: 1rem;
}

@media (min-width: 390px) {
  .intro-header, .navbar-brand {
    font-size: 1.1rem;
  }
}

@media (min-width: 820px) {
  .intro-header, .navbar-brand {
    font-size: 1.7rem;
  }
}

@media (min-width: 884px) {
  .intro-header, .navbar-brand {
    font-size: 1.5rem;
  }
}

@media (min-width: 1826px) {
  .intro-header, .navbar-brand {
    font-size: 2rem;
  }
}

.nav-link {
  font-size: 0.8rem;
}

@media (min-width: 390px) {
  .nav-link {
    font-size: 0.95rem;
  }
}

@media (min-width: 884px) {
  .nav-link {
    font-size: 1.2rem;
  }
}

@media (min-width: 820px) {
  .nav-link {
    font-size: 1rem;
  }
}

@media (min-width: 1826px) {
  .nav-link {
    font-size: 1.5rem;
  }
}

.nav-notification {
  font-size: 0.6rem;
}

@media (min-width: 884px) {
  .nav-notification {
    font-size: 0.9rem;
  }
}

@media (min-width: 820px) {
  .nav-notification {
    font-size: 0.8rem;
  }
}

.section-header-1, .section-header-2 {
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 2px;
}

@media (min-width: 820px) {
  .section-header-1, .section-header-2 {
    font-size: 2rem;
  }
}

@media (min-width: 884px) {
  .section-header-1, .section-header-2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1826px) {
  .section-header-1, .section-header-2 {
    font-size: 2.2rem;
  }
}

.icons {
  font-size: 2.5rem;
}

@media (min-width: 820px) {
  .icons {
    font-size: 4rem;
  }
}

@media (min-width: 820px) {
  .icons {
    font-size: 7rem;
  }
}

.service-title, .learn-more-btn {
  font-size: 1.1rem;
}

@media (min-width: 820px) {
  .service-title, .learn-more-btn {
    font-size: 1.7rem;
  }
}

@media (min-width: 884px) {
  .service-title, .learn-more-btn {
    font-size: 1.5rem;
  }
}

.previous-btn,
.next-btn {
  font-size: 3rem;
}

.navbar-brand, .service-title, .message-ceo {
  font-weight: 600;
}

@media (min-width: 820px) {
  .previous-btn, .next-btn {
    font-size: 8rem;
  }
}

.social-username, .copy-right {
  font-size: 0.8rem;
}

@media (min-width: 414px) {
  .social-username, .copy-right {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (min-width: 390px) {
  .social-username, .copy-right {
    font-size: 1rem;
    font-weight: 500;
  }
}

.ceo-signature {
  font-family: 'Cookie', cursive;
  font-weight: 100;
}

@media (min-width: 820px) {
  .service-description, .social-username, .copy-right {
    font-size: 1.5rem;
  }
}

@media (min-width: 884px) {
  .service-description, .social-username, .copy-right {
    font-size: 1.3rem;
  }
}

@media (min-width: 820px) {
  .service-description, .social-username, .copy-right {
    font-size: 1.1rem;
  }
}

@media (min-width: 1826px) {
  .service-description, .social-username, .copy-right {
    font-size: 1.5rem;
  }
}

@media (min-width: 820px) {
  .message-ceo, .ceo-signature {
    font-size: 1.7rem;
  }
}

@media (min-width: 820px) {
  .social-media-icons {
    font-size: 1.3rem;
  }
}

#title {
  height: 40%;
  margin-bottom: 0;
  overflow: hidden;
  padding-top: 0;
}

#title nav {
  background-color: black;
  z-index: 3;
}

#title nav .ml-auto {
  margin-left: 0 !important;
}

#title nav .navbar {
  padding: 3% 7%;
  position: fixed;
  -webkit-transition: linear .5s transform;
  transition: linear .5s transform;
  width: 100%;
}

#title nav .navbar-brand {
  background-color: #ffffff17;
  color: #F3C623;
  padding: 1%;
}

#title nav .nav-item {
  text-align: right;
  margin-right: 1.3%;
}

#title nav .nav-link {
  color: #F3C623;
  margin-right: 1.1%;
  padding: 1%  3% 2% 0;
}

#title nav .nav-link:hover {
  border-bottom: 2px solid;
  padding-bottom: 1px;
}

#title nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(243, 198, 35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  height: 1.2rem;
}

@media (min-width: 820px) {
  #title nav .navbar-toggler-icon {
    height: 2rem;
  }
}

#title nav .navbar-nav {
  background-color: transparent;
  margin-top: 5px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}

#title nav .nav-notification {
  color: red;
  margin-left: 1%;
}

#title nav .navbar-collapse {
  background-color: black;
}

@media (min-width: 820px) {
  #title nav .navbar-collapse {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#title nav .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#title .intro-header {
  top: 48%;
  position: absolute;
  right: 5%;
  z-index: 2;
}

#title .bg-video {
  border-bottom-left-radius: 65%;
  -webkit-clip-path: circle(92% at 70% 0%);
          clip-path: circle(92% at 70% 0%);
  position: absolute;
  top: 15%;
  z-index: 1;
}

@media (min-width: 360px) {
  #title .bg-video {
    top: 13%;
  }
}

@media (min-width: 414px) {
  #title .bg-video {
    top: 8%;
  }
}

@media (min-width: 1826px) {
  #title .bg-video {
    top: 5%;
  }
}

#title .navbar-scroll-up,
#title .navbar-scroll-down {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

#title .navbar-scroll-up {
  background-color: black;
  position: fixed;
  z-index: 2;
}

@media (min-width: 320px) {
  #title {
    height: 50%;
  }
}

@media (min-width: 360px) {
  #title {
    height: 40%;
  }
}

@media (min-width: 390px) {
  #title {
    height: 44%;
  }
}

@media (min-width: 414px) {
  #title {
    height: 40%;
  }
  #title .intro-header {
    top: 55%;
  }
}

@media (min-width: 820px) {
  #title {
    height: 50%;
  }
}

@media (min-width: 884px) {
  #title {
    height: 60%;
  }
}

@media (min-width: 820px) {
  #title {
    height: 100%;
  }
}

@media (min-width: 1280px) {
  #title {
    height: 110%;
  }
}

@media (min-width: 1826px) {
  #title {
    height: 125%;
  }
}
/*# sourceMappingURL=main.css.map */