// Variables start
$colors: (primary: #F3C623,
    secondary: #000,
    bg-color: #fff,
    dropdown-color:#393738,
    notification: red);

$fonts: ( // header fonts
    header-sm: 1rem,
    header-sm-2: 1.1rem,
    header-mb-md: 1.2rem,
    header-mb-lg: 1.5rem,
    header-mb-lg-2: 1.7rem,
    header-tb-sm: 2rem,
    header-lp-lg: 2.2rem,


    // description
    desc-mb-lg: 1.3rem,

    // link fonts
    notif-mb-sm: .6rem,
    nav-mb-sm: .8rem,
    nav-mb-md: .95rem,
    social-sm: .8rem,
    social-mb-md: .9rem,
    font-a-laptop: 1.1rem,

    // icon
    icon-mb-sm: 2.5rem,
    icon-mb-lg: 4rem,
    icon-tb-sm: 7rem,

    // arrows
    arrows-tb-sm:8rem,
);


//mobile widths
$iphone5: 320px;
$galaxyS10: 360px;
$redmiNote9Pro: 390px;
$iphone11: 414px;
$galaxyFold2:884px;


// tablet widths
$Tablet:820px;
$Tablet-2:1180px;

// laptops widths
$macbookAir:1280px;
$inch-15:1366px;
$inch_24:1826px;

// Variables end 


// mixins start

@mixin respond($breakpoint) {

    @if $breakpoint==iphone5 {
        @media (min-width: #{$iphone5}) {
            @content;
        }

    }

    @if $breakpoint==galaxyS10 {
        @media (min-width: #{$galaxyS10}) {
            @content;
        }

    }

    @if $breakpoint==redmiNote9Pro {
        @media (min-width: #{$redmiNote9Pro}) {
            @content;
        }
    }

    @if $breakpoint==iphone11 {
        @media (min-width: #{$iphone11}) {
            @content;
        }

    }

    @if $breakpoint==Tablet {
        @media (min-width: #{$Tablet}) {
            @content;
        }

    }

    @if $breakpoint==galaxyFold2 {
        @media (min-width: #{$galaxyFold2}) {
            @content;
        }

    }

    @if $breakpoint==Tablet_2 {
        @media (min-width: #{$Tablet}) {
            @content;
        }

    }

    @if $breakpoint==air {
        @media (min-width: #{$macbookAir}) {
            @content;
        }
    }

    @if $breakpoint==inch15 {
        @media (min-width: #{$inch-15}) {
            @content;
        }
    }

    @if $breakpoint==inch24 {
        @media (min-width: #{$inch_24}) {
            @content;
        }
    }


}

// mixins end

html {
    scroll-behavior: smooth;
}


body,
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    section {
        overflow: hidden;
        position: relative;
    }

    .scrollToTop {
        background-color: black;
        bottom: 49px;
        border-radius: 50%;
        color: #c4a01c;
        cursor: pointer;
        font-size: 1rem;
        padding: 10px;
        position: fixed;
        right: 14px;
        transform: translateX(180%);
        z-index: 2;
    }

    .ScrollToTopShow {
        transform: translateX(0%);
    }



}




// buttons stylying
@import './buttons';

// Animation
.scrollToTop,
.ScrollToTopShow {
    transition: ease-out .5s transform;
}




// width 100% 
.slide-container,
.info-slide,
.info-container,
.bg-video,
section {
    width: 100%;
}

// Width 100% End


// Same color start
.section-header-2 {
    color: map-get($colors, primary);
}

.intro-header,
.info-container,
.icons {
    color: white;
}

// End same color


// Alignment Start
#footer,
.info-slide,
.services-mobile {
    text-align: center;
}

// Alignment End



// Section Start
#contact-us,
#footer {
    background-color: map-get($colors, primary);
    padding-bottom: 0;
}


// Section End


// Containers Start

.services-mobile {
    padding-top: 5%;
}

// Containers End

// Common Header Features

.section-header-1,
.section-header-2 {
    padding: 5% 0px 6% 3%;
    margin: 0;
}

.section-header-1 {
    color: black;
}

.service-title {
    padding-top: 5%;
}

// Products & Servies Section Start

#products-and-services {
    padding-bottom: 10%;
}

.icons {
    padding: 5%;
    border-radius: 50%;
    border: map-get($colors, primary) 1px solid;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}

// Products & Servies Section End

//Team-Section Start

#team {

    background-color: #000;
    border-top-right-radius: 35%;
    padding-bottom: 7%;

    .info-slide {
        display: flex;
    }

    .team-title {
        padding-bottom: 10%;
    }


}

.info-slide {

    padding-top: 2%;

    .info-container {
        flex-shrink: 0;
        transition: transform ease-out 1s;

        .icons {
            background-color: white;
            box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15);
        }
    }
}



// Team Section End

//Contact Us Section Start

#contact-us {

    .social {
        align-items: center;
        display: flex;
        padding: 0 0 15% 5%;
    }
}

.socials-link {
    color: map-get($colors, secondary);
    transition: ease-in 1s;
}

.site:hover {
    color: #0000008c;
    cursor: pointer;
    text-decoration: none;
}


.social-username {
    margin-left: 8px;
}

.message-ceo {
    margin-top: 0;
    margin-bottom: 1rem;
}


//Contact Us Section End

//Footer Start
#footer {
    .copy-right {
        margin-bottom: 0;
        padding: 1%;
    }
}

// Footer End 


// Fonts
@import './fonts';
// Title Section 

@import './title';
// Title Section End